*{
    border: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: #0b3660;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
   
}
#container{
    position: static;
    width: 100%;
    height: 100vh;
    

}

#img1{
    width: 100%;
    max-width: 100%;
    height:100vh;
    z-index: -2;
    

}

#navigation{
    color: white;
    position: fixed;
    top: 0;
    background-color:#1324407d ;
    border-radius: 5px;
    width: 100vw;
    height: 6vh;
    z-index: 1;
    
}

nav{
   display: flex;
    justify-content: right;
    gap: 30px;
    padding-right: 20px;
    padding-top:14px;
    padding-bottom: 5px;
   
    
  
}

nav a{
    text-decoration: none;
    color: hwb(18 10% 3%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
}
nav  a:hover{
    transform: scale(1.1);
}
@media (max-width: 600px) {
    nav {
        justify-content: center;
        gap: 15px;
        padding-right: 0;
    }
    nav a {
        font-size: 18px;
    }
}

#profile{
    position: relative;
    top: -65%;
    left: 30%;

   
 
}
#img2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    animation-name:glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
#img2:hover{
    transform: scale(1.1);
}
#info{position: relative;
    top: -86%;
    left: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2px;
    
    color: hwb(18 10% 3%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.2s ease-in-out;
    perspective: 6px;
    cursor: default;

}
#info h1:hover, #info h3:hover, #info p:hover{
    transform:scale(1.02);
  
}
@media screen and  (max-width:1000px) {
    #info{text-align:justify;
        
        font-size: small;
        margin-top: 5px;
        left: 40%;
        top: -65%;
    }
   
    #profile{
        left: 40%;
        top: -65%;
    }
    
}
@media screen and (max-width:570px){
    #info{
        left:20% ;
        top: -68%;
        font-size: x-small;
    }
    #profile{
        left:20% ;
        top: -68%
    }
}


.content
{
    background-color:#132440 ;
    margin: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.387);
    height: 700px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
   
  
}
.content:hover{
    box-shadow: 4px 4px 20px black;
    transform: scale(1.01);
   
}

#About{
   padding-top:15px ;
   color: hwb(18 10% 3%);
   background-color:#132440 ;
   font-size: larger;
   margin: 50px;
   padding-left: 30px;
   text-align: start;
   border-radius: 10px;
   transition: all 0.3s ease-in-out ;
   cursor: default;

}
#About p:hover{
    transform:scale(1.02);

}
#About h2:hover {
    transform:scale(1.2);
}
#About p{
    margin-bottom: 5px;
}
#edu{
    color: hwb(18 10% 3%);
   background-color:#132440 ;
   font-size: larger;
 
}
#edu h2:hover{
    transform:scale(1.2);
}
#goal1, #goal2{
    position: relative;
    left: 70px;
    margin-bottom:80px;
    height: 10px;
    width: 10px;
    border: 3px solid rgb(187, 46, 202);
    border-radius: 50%;
    z-index: 1;


}
#goal1:hover, #goal2:hover{
    transform: scale(1.4);
}
#liner{
    position: relative;
    top: -180px;
    left: 74px;
    
    height: 200px;
    width: 2px;
    background-color: rgb(67, 2, 11);
    margin-bottom:50px;
    ;

}
#school{
    position: relative;
    top: -433px;
    left: 100px;
    margin-bottom:50px;
    font-size: small;
    margin-bottom: 5px;
}
#school:hover{
    transform: scale(1.02);
}
    
#college{
    position: relative;
    top: -410px;
    left: 100px;
    margin-bottom:50px;
    font-size: small;}
    #college:hover{
        transform: scale(1.02);
    }
#skills{width: auto;
        height: 350%;
        color: hwb(18 10% 3%);
        font-size: larger;
        background-color:#132440 ;
        margin: 40px;
        padding-top: 20px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.387);
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        border-radius: 20px;
    }
#skills h2:hover{
    transform:scale(1.2);
}
#skills:hover{
    box-shadow: 4px 4px 20px black;
    transform: scale(1.01);
    
}
#skillbox{
    width: 90%;
    height:fit-content;
    background-color: #02132c;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    box-shadow:2px 2px 25px  hwb(142 47% 2%);
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    grid-template-rows: repeat(autofit, 400px);
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.box{background-color: #0b3660;
   margin: 30px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition:transform 0.3s ease-in-out;
  
}
.box:hover{
    transform: scale(1.04);
} 
.box h4:hover{
    transform: scale(1.1);
}
.images{
    position: relative;
    top: -25px;
}
.images:hover{
    transform: scale(1.1);
}
#projects{
    width: auto;
    height: 150%;
    color: hwb(18 10% 3%);
    font-size: larger;
    background-color:#132440 ;
    margin: 40px;
    padding-top: 20px;
    box-shadow: 2px 2px 10px black;
    overflow: hidden;
    cursor: default;
}
#projects h2:hover{
    transform:scale(1.2);
}
#projects:hover{
    box-shadow: 4px 4px 20px black;
    transform: scale(1.01);
    
}


.projectlist{
    width: 80%;
    height:auto;
    background-color: #02132c;
    margin: auto;
    margin-top: 50px;
    box-shadow:2px 2px 25px  hwb(142 47% 2%);
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: 250px;
    overflow: hidden;
    border-radius: 20px;
     animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.projectlist:hover{
    transform: scale(1.02);
}
.projectitem{
    background-color: #0b3660;
    width:900px;
}
.projectitem a{
    text-decoration: none;
    color: hwb(18 10% 3%);
}
.procon{position: relative;
    left: 50px;
    top: 50px;
    margin-top: 20px;
    width: 300px;
    height: 200px;
    grid-column : 1/2;
    grid-row: 1/2;
   
}
#proimg1, #proimg2, #proimg3{
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
#proimg1:hover, #proimg2:hover, #proimg3:hover{
    transform: scale(1.1);
}
.proinfo{    grid-column: 2 / -2;
    grid-row: 2 / -2;
    text-align: start;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
    margin-top: 10px;
    top: -240px;
    left: 230px;
    width: 500px;  
}
.proinfo p:hover, .proinfo h3:hover{
    transform: scale(1.02);
}
.foot{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    filter:brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(494%) hue-rotate(330deg) brightness(95%) contrast(91%);;
}
.foot:hover{
     filter:brightness(0) saturate(100%) invert(33%) sepia(65%) saturate(658%) hue-rotate(173deg) brightness(93%) contrast(95%);
}
.img1{
    position: relative;
    left: 40%;
}
.img2{
    position: relative;
    left: 45%
}
.img3{
    position: relative;
    left: 50%
}

/* Animation for glowing effect */
@keyframes glow {
    0% {
        box-shadow: 0 0 15px hwb(142 47% 2%);
    }
    50% {
        box-shadow: 0 0 30px hwb(142 47% 2%);
    }
    100% {
        box-shadow: 0 0 15px hwb(142 47% 2%);
    }
    
}

